<style type="text/css">
    body{
    height: 100%;
    }
    html{
    height: 100%;
    }
</style>
<script type="text/javascript">
    $(document).ready(function() {
        $("#price-order").addClass('soart-button-active');
        $('.distance').addClass('is-hidden')
        $('#distance-order').click(function(){
            $('.price').addClass("is-hidden");
            $('.distance').removeClass("is-hidden");
            $('#distance-order').addClass('soart-button-active');
            $('#price-order').removeClass('soart-button-active');
        });
        $('#price-order').click(function(){
            $('.price').removeClass('is-hidden');
            $('.distance').addClass('is-hidden');
            $('#price-order').addClass('soart-button-active');
            $('#distance-order').removeClass('soart-button-active');
        });
        $('.result-container .result-content:nth-child(n + 6)').addClass('is-hidden');
        $('.more-text').click(function(){
            $('.result-container .result-content.is-hidden').slice(0, 5).removeClass('is-hidden');
            if ($('.result-container .result-content.is-hidden').length == 0){
                $('.more-text').hide();
            }
        });
        $('.map-container').addClass('is-hidden');
        $('#viewMap').click(function(){
            $('.map-container').removeClass('is-hidden');
            $('.search-wrapper').addClass('is-hidden');
            $('header').addClass('is-hidden');
            map.invalidateSize()
        });
        $('#closeMap').click(function(){
            $('.map-container').addClass('is-hidden');
            $('.search-wrapper').removeClass('is-hidden');
            $('header').removeClass('is-hidden');
        });
        let map = L.map('map');

        //現在地を入力
        currentLatitude = '<%== JSON.dump(@currentLatitude) %>';
        currentLongitude = '<%== JSON.dump(@currentLongitude) %>';

        //現在地を中心に設定
        map.setView([currentLatitude, currentLongitude], 18);
            L.tileLayer('https://cyberjapandata.gsi.go.jp/xyz/std/{z}/{x}/{y}.png', {
            attribution: "<a href='https://maps.gsi.go.jp/development/ichiran.html' target='_blank'>地理院タイル</a>"
        }).addTo(map);

        //半径1250mの円を描く
        let borderCircle = L.circle([currentLatitude, currentLongitude],{
            radius: 1250,
            color: "#4285F4"
        });
        borderCircle.addTo(map);

        //現在地にマーカーを付ける
        let currentMarkerOption = {
            radius: 13,
            fillColor: "#4285F4",
            color: "#FFFFFF",
            fillOpacity: 1,
            opacity: 1
        };
        currentMarker = L.circleMarker([currentLatitude, currentLongitude], currentMarkerOption);
        currentMarker.addTo(map);

        let i = 0;
        let jsonArray = <%== JSON.dump(@array) %>;
        const length = <%== JSON.dump(@sortedArrayLength) %>;

        let latitudePin;
        let longitudePin;
        let price;
        let id;
        let marker;
        let company;
        let distance;
        let phoneNumber;
        let url;
        let image;

        while (i < length){
            latitudePin = jsonArray[i]["latitude"];
            longitudePin = jsonArray[i]["longitude"];
            price = jsonArray[i]["price"];
            distance = jsonArray[i]["distance"];
            company = jsonArray[i]["company"];
            phoneNumber = jsonArray[i]["phoneNumber"];
            url = jsonArray[i]["url"];
            marker = L.marker([latitudePin, longitudePin]);
            marker.addTo(map);
            marker.bindPopup(
                `<p>${price}円</p>
                <div>
                    ${company}<br>
                    ${distance}m<br>
                    <a href = "tel:${phoneNumber}">${phoneNumber}</a><br>
                    <a href="${url}">GoogleMapで表示</a>
                </div>`,
                {autoClose:false});
            i = i + 1;
        };
    });
</script>
<div class='search-wrapper'>
    <div class='page-header'>
        <%= image_tag 'top-logo.png' %>
        <p>検索結果</p>
    </div>
    <div class="soart-button">
        <p id="price-order">料金順</p>
        <p id="distance-order">距離順</p>
    </div>
    <div class="condition-container">

        <p class="main-condition">「<%= @condition1%>、<%= @begin_at_h%>時<%= @begin_at_m%>分開始、<%= @length%>分間利用」で検索したカラオケ情報</p>

        <p class="sub-condition">検索件数　<%= @sortedArrayLength%>件</p>
    </div>
    <div class="result-container price">
        <% i=0%>
        <% while i < @sortedArrayLength do%>
            <div class="result-content">
                <div class="result-left">
                    <%= image_tag @priceOrderArray[i][:image] %>
                    <p><%= @priceOrderArray[i][:name]%></p>
                </div>
                <div class="result-right">
                    <div class="price-display">
                        <p><%= @priceOrderArray[i][:price]%>円</p>
                        <%= link_to image_tag('directions-icon.png'), @priceOrderArray[i][:url]%>
                    </div>
                    <div class="other-info">
                        <div class="other-info-above">
                            <div class="each-info">
                                    <%= image_tag 'distance-icon.png' %>
                                <p><%= @priceOrderArray[i][:distance]%>m</p>
                            </div>
                            <div class="each-info">
                                <%= image_tag 'directions_walk-icon.png' %>
                                <p><%= @priceOrderArray[i][:duration]%>min</p>
                            </div>
                        </div>
                        <div class="other-info-below" >
                            <%= image_tag 'call-icon.png' %>
                            <%= link_to @priceOrderArray[i][:phoneNumber], "tel:" + @priceOrderArray[i][:phoneNumber] %>
                        </div>
                    </div>
                </div>
            </div>
            <% i = i + 1%>
        <% end %>
    </div>
    <div class="result-container distance">
        <% i=0%>
        <% while i < @sortedArrayLength do%>
            <div class="result-content">
                <div class="result-left">
                    <%= image_tag distanceOrderArray[i][:image] %>
                    <p><%= distanceOrderArray[i][:name]%></p>
                </div>
                <div class="result-right">
                    <div class="price-display">
                        <p><%= distanceOrderArray[i][:price]%>円</p>
                        <%= link_to image_tag('directions-icon.png'), distanceOrderArray[i][:url]%>
                    </div>
                    <div class="other-info">
                        <div class="other-info-above">
                            <div class="each-info">
                                <%= image_tag 'distance-icon.png' %>
                                <p><%= distanceOrderArray[i][:distance]%>m</p>
                            </div>
                            <div class="each-info">
                                <%= image_tag 'directions_walk-icon.png' %>
                                <p><%= distanceOrderArray[i][:duration]%>min</p>
                            </div>
                        </div>
                        <div class="other-info-below" >
                            <%= image_tag 'call-icon.png' %>
                            <%= link_to distanceOrderArray[i][:phoneNumber], "tel:" + distanceOrderArray[i][:phoneNumber] %>
                        </div>
                    </div>
                </div>
            </div>
            <% i = i + 1%>
        <% end %>
    </div>
    <p class="more-text">さらに表示</p>
    <div class='button'>
        <%= image_tag 'map-icon.png' %>
        <p id="viewMap">地図で表示</p>
    </div>
</div>
<div class="map-container">
    <div id="map"></div>
    <div class='button' id="closeMap">
        <%= image_tag 'return-icon.png' %>
        <p>地図を閉じる</p>
    </div>
</div>