<style type="text/css">
    body{
    height: 100%;
    }
    html{
    height: 100%;
    }
</style>
<script type="text/javascript">
    $(document).ready(function() {

        $(".iconDescription").hide();
        $(".supportIcon").hover(
            function(){
                $(".iconDescription").fadeIn(500);
            },
            function(){
                $(".iconDescription").fadeOut(500);
            });

        $("#price-order").addClass('soart-button-active');
        $('.distance').addClass('is-hidden')
        $('#distance-order').click(function(){
            $('.price').addClass("is-hidden");
            $('.distance').removeClass("is-hidden");
            $('#distance-order').addClass('soart-button-active');
            $('#price-order').removeClass('soart-button-active');
        });
        $('#price-order').click(function(){
            $('.price').removeClass('is-hidden');
            $('.distance').addClass('is-hidden');
            $('#price-order').addClass('soart-button-active');
            $('#distance-order').removeClass('soart-button-active');
        });
        $('.result-container .result-content:nth-child(n + 6)').addClass('is-hidden');
        $('.more-text').click(function(){
            $('.result-container .result-content.is-hidden').slice(0, 5).removeClass('is-hidden');
            if ($('.result-container .result-content.is-hidden').length == 0){
                $('.more-text').hide();
            }
        });
        $('.map-container').addClass('is-hidden');
        $('#viewMap').click(function(){
            $('.map-container').removeClass('is-hidden');
            $('.search-wrapper').addClass('is-hidden');
            $('header').addClass('is-hidden');
            map.invalidateSize()
        });
        $('#closeMap').click(function(){
            $('.map-container').addClass('is-hidden');
            $('.search-wrapper').removeClass('is-hidden');
            $('header').removeClass('is-hidden');
        });

        let map = L.map('map');

        //現在地を入力
        let currentLatitude = '<%== JSON.dump(@currentLatitude) %>';
        let currentLongitude = '<%== JSON.dump(@currentLongitude) %>';

        //現在地を中心に設定
        map.setView([currentLatitude, currentLongitude], 16);
            L.tileLayer('https://cyberjapandata.gsi.go.jp/xyz/std/{z}/{x}/{y}.png', {
            attribution: "<a href='https://maps.gsi.go.jp/development/ichiran.html' target='_blank'>地理院タイル</a>"
        }).addTo(map);

        //半径1250mの円を描く
        let borderCircle = L.circle([currentLatitude, currentLongitude],{
            radius: 650,
            color: "#4285F4"
        });
        borderCircle.addTo(map);

        //現在地にマーカーを付ける
        let currentMarkerOption = {
            radius: 13,
            fillColor: "#4285F4",
            color: "#FFFFFF",
            fillOpacity: 1,
            opacity: 1
        };
        currentMarker = L.circleMarker([currentLatitude, currentLongitude], currentMarkerOption);
        currentMarker.addTo(map);

        let i = 0;
        let jsonArray = <%== JSON.dump(@array) %>;
        const length = <%== JSON.dump(@sortedArrayLength) %>;

        let latitudePin;
        let longitudePin;
        let price;
        let id;
        let marker;
        let company;
        let distance;
        let phoneNumber;
        let url
        let image;

        while (i < length){
            latitudePin = jsonArray[i]["latitude"];
            longitudePin = jsonArray[i]["longitude"];
            price = jsonArray[i]["price"];
            distance = jsonArray[i]["distance"];
            company = jsonArray[i]["company"];
            phoneNumber = jsonArray[i]["phoneNumber"];
            url = jsonArray[i]["url"];
            image = jsonArray[i]["image"];
            marker = L.marker([latitudePin, longitudePin]);
            marker.addTo(map);
            marker.bindPopup(
                `<img src="/assets/${image}">
                <p>${price}円</p>
                <div>
                    ${distance}m<br>
                    <a href = "tel:${phoneNumber}">${phoneNumber}</a><br>
                    <a href="${url}">GoogleMapで表示</a>
                </div>`,
                {autoClose:false});
            i = i + 1;
        };
    });
</script>
<div class='search-wrapper'>
    <div class='page-header'>
        <%= image_tag 'top-logo.png' %>
        <p>検索結果</p>
    </div>
    <div class="soart-button">
        <p id="price-order">料金順</p>
        <p id="distance-order">距離順</p>
    </div>
    <div class="condition-container">

        <p class="main-condition">「<%= @condition1%>、<%= @begin_at_h%>時<%= @begin_at_m%>分開始、<%= @length%>分間利用」で検索したカラオケ情報</p>

        <div class="sub-condition-container">
            <p class="sub-condition">検索件数　<%= @sortedArrayLength%>件</p>
            <%= image_tag "resultInfoSupport.png", class: "supportIcon"%>
            <div class="iconDescription">
                <%= image_tag "resultInfoDay.png"%><span>表示料金が昼料金であることを示します。</span><br>
                <%= image_tag "resultInfoNight.png"%><span>表示料金が夜料金であることを示します。</span><br>
                <%= image_tag "resultInfoHoliday.png"%><span>表示料金が休日・祝日料金であることを示します。</span><br>
                <%= image_tag "resultInfoOneDrink.png"%><span>ワンドリンク制での価格であることを示します。</span><br>
                <%= image_tag "resultInfoMulti.png"%><span>昼料金と夜料金の時間帯を股いでいるため、昼料金での計算結果を表示しています。</span><br>
                <%= image_tag "resultInfoClosed.png"%><span>利用時間中に店舗が閉店する可能性があります。</span><br>
                <%= image_tag "resultInfoYet.png"%><span>まだ店舗が開店していない可能性があります。</span><br>
                <%= image_tag "resultInfoAlone.png"%><span>表示料金に追加でヒトカラ料金を支払う必要があります。</span><br>
                <%= image_tag "resultInfoFreeTime.png"%><span>表示料金がフリータイムでの価格であることを示します。</span>
            </div>
        </div>
    </div>
    <div class="result-container price">
        <% i=0%>
        <% while i < @sortedArrayLength do%>
            <div class="result-content">
                <div class="result-left">
                    <%= image_tag @priceOrderArray[i][:image] %>
                    <p><%= @priceOrderArray[i][:name]%></p>
                </div>
                <div class="result-right">
                    <div class="price-display">
                        <p><%= @priceOrderArray[i][:price]%>円</p>
                        <%= link_to image_tag('directions-icon.png'), @priceOrderArray[i][:url]%>
                    </div>
                    <div class="other-info">
                        <div class="other-info-above">
                            <div class="each-info">
                                    <%= image_tag 'distance-icon.png' %>
                                <p><%= @priceOrderArray[i][:distance]%>m</p>
                            </div>
                            <div class="each-info">
                                <%= image_tag 'directions_walk-icon.png' %>
                                <p><%= @priceOrderArray[i][:duration]%>min</p>
                            </div>
                        </div>
                        <div class="other-info-below" >
                            <%= image_tag 'call-icon.png' %>
                            <%= link_to @priceOrderArray[i][:phoneNumber], "tel:" + @priceOrderArray[i][:phoneNumber] %>
                        </div>
                        <div class="result-info-icons">
                            <% if @priceOrderArray[i][:timeZone] == "day"%>
                                <%= image_tag "resultInfoDay"%>
                            <% end%>
                            <% if @priceOrderArray[i][:timeZone] == "night"%>
                                <%= image_tag "resultInfoNight"%>
                            <% end%>
                            <% if @priceOrderArray[i][:holiday]%>
                                <%= image_tag "resultInfoHoliday"%>
                            <% end%>
                            <% if @priceOrderArray[i][:oneDrink]%>
                                <%= image_tag "resultInfoOneDrink"%>
                            <% end%>
                            <% if @priceOrderArray[i][:multiTimeZone]%>
                                <%= image_tag "resultInfoMulti"%>
                            <% end%>
                            <% if @priceOrderArray[i][:closeSoon]%>
                                <%= image_tag "resultInfoClosed"%>
                            <% end%>
                            <% if @priceOrderArray[i][:beforeOpen]%>
                                <%= image_tag "resultInfoYet"%>
                            <% end%>
                            <% if @priceOrderArray[i][:alone]%>
                                <%= image_tag "resultInfoAlone"%>
                            <% end%>
                            <% if @priceOrderArray[i][:freeTime]%>
                                <%= image_tag "resultInfoFreeTime"%>
                            <% end%>
                        </div>
                    </div>
                </div>
            </div>
            <% i = i + 1%>
        <% end %>
    </div>
    <div class="result-container distance">
        <% i=0%>
        <% while i < @sortedArrayLength do%>
            <div class="result-content">
                <div class="result-left">
                    <%= image_tag @distanceOrderArray[i][:image] %>
                    <p><%= @distanceOrderArray[i][:name]%></p>
                </div>
                <div class="result-right">
                    <div class="price-display">
                        <p><%= @distanceOrderArray[i][:price]%>円</p>
                        <%= link_to image_tag('directions-icon.png'), @distanceOrderArray[i][:url]%>
                    </div>
                    <div class="other-info">
                        <div class="other-info-above">
                            <div class="each-info">
                                <%= image_tag 'distance-icon.png' %>
                                <p><%= @distanceOrderArray[i][:distance]%>m</p>
                            </div>
                            <div class="each-info">
                                <%= image_tag 'directions_walk-icon.png' %>
                                <p><%= @distanceOrderArray[i][:duration]%>min</p>
                            </div>
                        </div>
                        <div class="other-info-below" >
                            <%= image_tag 'call-icon.png' %>
                            <%= link_to @distanceOrderArray[i][:phoneNumber], "tel:" + @distanceOrderArray[i][:phoneNumber] %>
                        </div>
                        <div class="result-info-icons">
                            <% if @distanceOrderArray[i][:timeZone] == "day"%>
                                <%= image_tag "resultInfoDay"%>
                            <% end%>
                            <% if @distanceOrderArray[i][:timeZone] == "night"%>
                                <%= image_tag "resultInfoNight"%>
                            <% end%>
                            <% if @distanceOrderArray[i][:holiday]%>
                                <%= image_tag "resultInfoHoliday"%>
                            <% end%>
                            <% if @distanceOrderArray[i][:oneDrink]%>
                                <%= image_tag "resultInfoOneDrink"%>
                            <% end%>
                            <% if @distanceOrderArray[i][:multiTimeZone]%>
                                <%= image_tag "resultInfoMulti"%>
                            <% end%>
                            <% if @distanceOrderArray[i][:closeSoon]%>
                                <%= image_tag "resultInfoClosed"%>
                            <% end%>
                            <% if @distanceOrderArray[i][:beforeOpen]%>
                                <%= image_tag "resultInfoYet"%>
                            <% end%>
                            <% if @distanceOrderArray[i][:alone]%>
                                <%= image_tag "resultInfoAlone"%>
                            <% end%>
                            <% if @distanceOrderArray[i][:freeTime]%>
                                <%= image_tag "resultInfoFreeTime"%>
                            <% end%>
                        </div>
                    </div>
                </div>
            </div>
            <% i = i + 1%>
        <% end %>
    </div>
    <p class="more-text">さらに表示</p>
    <div class='button'>
        <%= image_tag 'map-icon.png' %>
        <p id="viewMap">地図で表示</p>
    </div>
</div>
<div class="map-container">
    <div id="map"></div>
    <div class='button' id="closeMap">
        <%= image_tag 'return-icon.png' %>
        <p>地図を閉じる</p>
    </div>
</div>