<meta name="google-site-verification" content="LA4I5Au_Mqvw2-Caqws8YLq15l011tdp67dsXb3OVJY" />
<script type="text/javascript">
        //ユーザーの位置情報の取得
        navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
        function successCallback(position){
            let currentLatitude = position.coords.latitude;
            let currentLongitude = position.coords.longitude;
            document.getElementById('currentLatitude').value = `${currentLatitude}`;
            document.getElementById('currentLongitude').value = `${currentLongitude}`;
        };
        function errorCallback(error){
            alert("位置情報の取得を許可してください。")
        };
</script>
<div class='search-wrapper'>
    <div class='page-header'>
        <%= image_tag 'top-logo.png' %>
        <p>検索条件</p>
    </div>
    <p class="searchValidateMessage">
        <%= @validateMessage%>
    </p>
    <%= form_with url: result_path, method: :get, local: true, id: "searchForm" do |f| %>
    <div class='search-container'>
        <div class='search-content'>
            <p id="test">料金体系</p>
            <div class="selector">
                <%= f.radio_button :classification, :student, class: 'radio-button', checked: true%>
                <%= f.label :classification, '学生', {value: :student, name: 'left'} %>
                <%= f.radio_button :classification, :adult, class: 'radio-button'%>
                <%= f.label :classification, '一般', {value: :adult, name: 'right'} %>
            </div>
        </div>
        <div class='search-content'>
            <p>開始時間</p>
            <div class="selector" name='time'>
                <%= f.number_field :begin_at_h, max: 23, min: 0, class: 'time-input', value: @begin_at_h %>
                <p>時</p>
                <%= f.number_field :begin_at_m, max: 59, min: 0, class: 'time-input', value: @begin_at_m%>
                <p>分</p>
            </div>
        </div>
        <div class='search-content' name='last-content'>
            <p>利用時間</p>
            <div class="selector" name='time'>
                <%= f.select :length, [
                    ["30分",30],
                    ["60分",60],
                    ["90分",90],
                    ["120分",120],
                    ["150分",150],
                    ["フリータイム",180]
                ], class: 'time-input', value: 30%>
            </div>
        </div>
    </div>
    <div class="notificationContainer">
        <p>※ワンドリンク制がある場合、ワンドリンク380円として計算します。</p>
        <p>※該当プランが複数ある場合、最も安いプランの価格を表示します。</p>
        <p>※学生を選択した場合、会員料金と学生料金のうち、より安い価格を表示します。</p>
        <p>※現在地から半径 600m 以内の検索結果を表示します。</p>
    </div>
    <%= f.text_field :currentLatitude, value: "こここだよ"%>
    <%= f.text_field :currentLongitude, value: "こここだよ"%>
    <div class='button'>
        <%= image_tag 'search-icon.png'%>
        <%= f.submit 'この条件で検索', class: 'submit-button'%>
    </div>
    <% end %>
</div>
